<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source = 192.168.110.7; Initial Catalog = MCS; User Id = sa; Password = Mc123456;"/>-->
  <!--<add name="DefaultConnection" connectionString="Provider=SQLNCLI11;Server=192.168.110.7;Database=MCS;Uid=sa;Pwd=Mc123456;"/>-->
    <add name="DefaultConnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\КимМ\Downloads\06-11-2018_06-41-49\accessDb_00.mdb;User Id=;Password=;"></add>

  </connectionStrings>
  <appSettings>
   <!-- <add key="factory" value="System.Data.SqlClient"/>-->
    <add key="factory" value="System.Data.OleDb"/>
    <add key="newEquipment" value="select * from newEquipment"/>
  </appSettings>
</configuration>